
#boardGenerala {
    display: flex;
    gap: 5px;
  }
  #boardGenerala > div {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
#tirarDados{
    margin-top:1em;
}

.selected{
 border-color: red;
}
.dice{
  border: 2px solid transparent;
  display:inline-block;
  padding:10px;
  margin:20px;
}


.dice .selected{
  border: 2px solid red;
}

#generala-player, #generala-moves{
  font-weight: bolder;
}

#g2 .scores {
margin: 1rem; font-size: 1.25rem;
}

.scores table {
border-collapse: collapse;
}
#g2 .scores td, #g2 .scores th {
padding: 0.25rem; min-width: 3rem;
text-align: center;
border: 1px solid white;
}
#g2 .scores table tbody tr:last-of-type td {
font-weight: bold;
cursor: default;
}
#g2 .scores table tbody tr{
  cursor:pointer;
}