.nodisp {
  display: none !important;
}
#g1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#g2 {
  background-color: yellow;
  color: black;
}
#g3 {
  background-color: blue;
  color: white;
}
#main, .game, #perfil{
  padding: 0;
  padding-top: env(safe-area-inset-top);
  margin:0;
  width:100vw;
  height:100vh;

}




