body{
 margin:0;
 padding:0;
 font-size: 100%; /* Asegura que el tamaño de fuente esté al 100% del valor del navegador */
  background-color: #EBF4F6;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nodisp {
  display: none !important;
}
#g2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#g1, #g2,#g3 {
  display: flex;
  flex-direction: column;
  padding:1em;
}
#g1 h1, #g2 h1, #g3 h1{
  flex-grow: 1;
}


#btn-g1 img, #btn-g2 img, #btn-g3 img{
  width:70%;
}


.backBtn{
  color: #088395;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size:1.2em;
}

#btn-g1-back svg, #btn-g2-back svg, #btn-g3-back svg{
  width:1.5em;
}

#btn-g1-back p, #btn-g2-back p, #btn-g3-back p{
  font-size:1em;
  margin:0.2em;
}
#main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
  padding-top: env(safe-area-inset-top);
  margin:0;
  width:100vw;
  height:100vh;
}

.mainContainer {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}
.mainContainer div{
  padding:1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
  border-radius:1em;
  background-color:#8ebfc6;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.mainContainer div p{
  font-size: 1.5rem;
  font-weight: bold;
}
.mainContainer div:hover{
  background-color: #feb08f;
  cursor:pointer;
  transform: translateY(-10px); /* Ajusta la cantidad de elevación */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}
h1 {
  font-size: 3em;
  text-transform: uppercase;
  font-family: "Coiny", system-ui;
  font-weight: 400;
  color: #FF4545;
  margin: 0.5em;
  text-align: center;
}

.title {
  display: flex; 
  align-items: center;
  width: 90%;
}

.disableReiniciar{
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size:1.2em;
  color:grey;
  pointer-events: none;
  /* padding:1em;
  border-radius:0.5em; */
}

@media (max-width: 600px) {

  #btn-g1 img, #btn-g2 img, #btn-g3 img {
    width: 90%; 
  }

  #btn-g1-back, #btn-g2-back, #btn-g3-back {
    width: 15%;
    font-size: 1.2em; 
  }

  .mainContainer {
    flex-direction: column;
    width: 50%; 
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
  }

  .mainContainer div {
    width: 50%; 
    margin-bottom: 1em; 
  }

  .mainContainer div p {
    font-size: 1.2rem; 
  }
}
@media (orientation: landscape) and (max-width: 1024px) {


}
 