a {
  text-decoration: none;
  color: grey;
}

#contenedor {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 8px;
  border-radius: 1em;
}

#contenedor > div {
  border: 2px solid #088395;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
}
#reiniciar svg{
  width: 2em;
}
.reiniciar{
  background-color: #088395;
  color:white;
}
.reiniciar:hover{
  cursor:pointer;
}
#reiniciar{
  padding:1em;
  border-radius:0.5em;

}
.disableReiniciarBoton{
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size:1.2em;
  color:grey;
  pointer-events: none;
  /* padding:1em;
  border-radius:0.5em; */
}
.disable {
  background-color: #d7ddda;
  color:black;
  pointer-events: none;
}
.disable:hover, .disableReiniciar:hover {
  cursor: not-allowed;
}

.winner, .winner svg {
  background-color: #FF4545 !important;
  fill:#FCF596 !important;
}

.xTurn{
  pointer-events: none;
  width:2em;
  font-size: 1em;
  background-color: #37B7C3;
  fill:#EBF4F6;
  
}
.oTurn{
  pointer-events: none;
  font-size: 1em;
  width: 2em;
  background-color:#FBD288; 
  fill: #FF4545;
 
}
.gameContainer h2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  #contenedor {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  #contenedor > div {
    width: 100px;
    height: 100px;
  }

  #reiniciar {
    padding: 0.8em;
  }

  .reiniciar {
    font-size: 1em;

  }

  .xTurn, .oTurn {
    font-size: 1.2em;
  }

  .gameContainer h2 {
    font-size: 2em;
  }
  .gameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .h2Reiniciar, .h1Contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .centered{
    height:80vh;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  .h2Reiniciar, .h1Contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .centered{
    height:50vh;
  }
  #contenedor {
    grid-template-columns: repeat(3, 80px); /* Columnas más pequeñas */
    gap: 6px;
  }
  .gameContainer{
    width:80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
  }
  #contenedor > div {
    width: 80px;
    height: 80px;
  }

  #reiniciar {
    padding: 0.6em;
    font-size: 0.8em;
  }

  .xTurn, .oTurn {
    font-size: 1em;
    width: 1em;
  }

  h2 {
    font-size: 1.5em;
  }
  .disableReiniciar{
    padding:0.5em;

  }
  h1{
    font-size: 2.5em;
    margin:0;
  }
}
